.navbar {
  background: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.item {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.counter {
  color: #fff;
}